$loaderColor:rgba(255, 71, 71, 0.7);
$headerColor:#d01403;
$addressColor:#FFC8C8;
$textColor:#FFFFFF;
.debug-counter{
  position: fixed;
  top:50px;
  left:10px;
  width:40px;
  height:16px;
  line-height: 16px;
  color:red;
  font-family: monospace;
  font-size: 14px;
}
#outerContainer{
  background-color: #000000;
  position:relative;
  height:56.25vw;
  width:100%;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}
#toggle-audio {
  position: fixed;
  right: 20px;
  z-index: 200;
  color: #fff;
  display: block;
  font-size: 4vw;
  text-align: center;
  text-decoration: none;
}
.video-container {
  width: 100%;
  height : 100%;
  position:fixed;
  pointer-events: none;
  .video-canvas{
    width:100%;
    //height:100%;
  }
}
#image-container {
  width: 100%;
  height : 100%;
  position:fixed;
  pointer-events: none;
  img {
    width:100%;
  }
}
.loader{
  margin:25vw auto;
  width:20vw;
  height:1vw;
  border: 1px solid $loaderColor;
  padding: 2px;
  border-radius: 1vw;
  .progress{
    border-radius: 1vw;
    background-color: $loaderColor;
    width:1%;
    height:100%;
  }
}
.jump-trigger{
  position: fixed;
  top:75%;
  width:20%;
  height:1px;
  background: #000000;
}
.video-tag {
  width: 100%;
}

#scenes {
  width: 100%;
  height:100%;
  max-height: calc(56.25vw - 10px);
  overflow-y:hidden; 
  position: fixed;
  pointer-events: none;
  opacity: 1 !important;

}
.scene {
  background:rgba(0, 0, 0, 0.8);
  width: 70%;
  opacity: 0;
  //height:10%;
  position: absolute;
  text-align: center;
  //bottom: -25px;
  padding: 5% 5% 5% 5%;
  margin: 0 10%;
  bottom: -10vh;
  // left:10%;
  font-family: gibsonRegular;
  .icon{
    margin:0 auto 1.2em auto;
    width:10%;
    img{
      width:100%;
    }
  }
  .main{
    color: $textColor;
    font-size: 1.8vw;
    line-height: 1.5em;
  }
  .header{
    font-family: gibsonSemibold;
    text-transform: uppercase;
    white-space: nowrap;
    color: $headerColor;
    font-size: 2.5vw;
    line-height: 2em;
  }
  .address{
    font-family: gibsonRegular;
    font-size:1.5em;
    color: $addressColor;
    line-height: 2em;
    margin: 0 0 0.5em 0;

    
  }

  &.large-scene{
    .main{
      font-size: 5vw;
      line-height:1.0em;
    }
  }

  &.header-scene{
    font-family: gibsonLight;
    width:80%;
    text-align: center;
    bottom: 5vw;
    margin:0 5%;
    // padding: 0 20%;
    .main{
      color: $textColor;
      font-size: 1.8vw;

      large{
        color:$headerColor;
        text-transform:uppercase;
        font-family: gibsonRegular; 
        display: block;
        // margin:0.7em 0 0.075em 0;
        font-size: 5vw;
        line-height: 2em;
      }
      
    }
  }
  .arrow{
    margin:0;
    svg{
      width:2.5vw;
      height:3vw;
    }
  }
  .flag{
    margin:0;
    svg{
      width:6vw;
      height:10vw;
    }
  }
}
@media only screen and (max-width: 500px) {
  #outerContainer{
    height:calc(177vw - 25px);
  }
  .loader{
    margin:80vw auto;
    width:40vw;
    height:2.5vw;
    border: 1px solid $loaderColor;
    padding: 2px;
    border-radius: 2vw;
    .progress{
      border-radius: 2vw;
      background-color: $loaderColor;
      width:1%;
      height:100%;
    }
  }

  #scenes{
    max-height: calc(177vw - 25px);
  }
  .scene{
    margin: auto;
    width:80%;
    left:0%;
    bottom: 10vh;
    .main{
     font-size: 4.3vw;
     line-height: 1.3em;
   }
   .year{
    font-size: 22vw;
    // margin-left:15vw;
  }
  &.large-scene{
    p{
      font-size: 9vw;
    }
  }

  &.header-scene{
    width:90%;
    left:5%;
    bottom:10vw;
    padding:0 2%;
    .main{
      font-size: 4.5vw;
      large{
        font-size: 10vw;

      }
      
    }
  }
  .arrow{
    margin:0;
    svg{
      width:8vw;
      height:10vw;
    }
  }
  .flag{
    display:none;
    position:absolute;
    top:0;
    left:2.5vw;
    // margin:0 4vw 0 0;
    svg{
      width:18vw;
      height:19vw;
    }
  }

}
}